<div class="flex h-screen items-center justify-center bg-primary px-4">
  <form
    class="flex w-full max-w-md flex-col gap-6 rounded-2xl border-2 border-solid bg-white p-8 shadow-2xl"
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- Cabeçalho do Formulário -->
    <div class="relative flex items-center border-b border-gray-200 pb-4">
      <a class="absolute left-0 hover:scale-105" [routerLink]="['/login']">
        <i class="fa-solid fa-arrow-left text-2xl text-gray-800"></i>
      </a>
      <h1 class="mx-auto w-full text-center text-3xl font-semibold">
        Cadastro
      </h1>
    </div>

    <!-- Campo de senha -->
    <div class="flex flex-col">
      <label class="mb-1 text-sm font-medium text-gray-700" for="email">
        Nome
      </label>
      <input
        class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
        id="name"
        type="text"
        formControlName="name"
        aria-label="Nome"
        required
      />
    </div>

    <!-- Campo de e-mail -->
    <div class="flex flex-col">
      <label class="mb-1 text-sm font-medium text-gray-700" for="email">
        E-mail
      </label>
      <input
        class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
        id="email"
        type="email"
        formControlName="email"
        aria-label="E-mail"
        autocomplete="email"
        required
      />
    </div>

    <!-- Campo de Senha -->
    <div class="flex flex-col">
      <label class="mb-1 text-sm font-medium text-gray-700" for="password">
        Senha
      </label>
      <input
        class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
        id="password"
        type="password"
        formControlName="password"
        aria-label="Senha"
        autocomplete="current-password"
        required
      />
    </div>

    <!-- Campo Confirmar Senha -->
    <div class="flex flex-col">
      <label
        class="mb-1 text-sm font-medium text-gray-700"
        for="confirmPassword"
      >
        Confirmar senha
      </label>
      <input
        class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
      />
    </div>

    <!-- Botão de submit -->
    <button
      class="rounded-full border-2 border-primary bg-primary p-3 text-white transition hover:scale-105 hover:bg-opacity-90 disabled:opacity-50"
      type="submit"
      [disabled]="!signUpForm.valid"
    >
      Cadastrar-se
    </button>
  </form>
</div>
