<app-header></app-header>

<div class="flex h-[calc(100vh-80px)] items-center justify-center">
  <section
    class="flex w-full max-w-md flex-col gap-3 rounded-2xl border-2 border-solid bg-white p-8 shadow-xl"
  >
    <h1 class="text-center text-3xl font-medium">Perfil</h1>

    <!-- Foto de perfil -->
    <div class="flex flex-col items-center justify-center gap-2">
      <img
        class="rounded-full"
        src="assets/images/perfil.png"
        alt="foto de perfil"
      />

      <button
        class="rounded-lg bg-gray-200 px-4 py-2 transition hover:scale-105 hover:bg-gray-300"
      >
        Mudar foto
      </button>
    </div>

    <!-- Campos de informações editáveis -->
    <form [formGroup]="profileForm" class="flex flex-col gap-3">
      <!-- Campo de nome -->
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-medium text-gray-700" for="email">
          Nome
        </label>
        <input
          class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
          id="name"
          type="text"
          formControlName="name"
        />
      </div>
      <!-- Campo de e-mail -->
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-medium text-gray-700" for="email">
          E-mail
        </label>
        <input
          class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
          id="email"
          type="email"
          formControlName="email"
        />
      </div>

      <!-- Campo de tipo do usuário -->
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-medium text-gray-700" for="email">
          Função
        </label>
        <input
          class="cursor-not-allowed rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
          id="userType"
          type="text"
          formControlName="userType"
        />
      </div>

      <!-- Campo de código do usuário -->
      <div class="flex flex-col">
        <label class="mb-1 text-sm font-medium text-gray-700" for="email">
          Código
        </label>
        <input
          class="cursor-not-allowed rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
          id="userCode"
          type="text"
          formControlName="userCode"
        />
      </div>

      @if (formWasEditted) {
        <button
          class="mt-4 rounded-lg border-2 border-primary bg-primary p-3 text-white transition hover:scale-105 hover:bg-opacity-90 disabled:opacity-50"
          [disabled]="!profileForm.valid"
          (click)="saveFormChanges()"
        >
          Salvar mudanças
        </button>
      }
    </form>
  </section>
</div>
