<app-header></app-header>

<div class="flex h-[calc(100vh-80px)] items-center justify-center">
  <section
    class="flex w-full max-w-md flex-col gap-3 rounded-2xl border-2 border-solid bg-white p-8 shadow-xl"
  >
    <h1 class="text-center text-3xl font-medium">Perfil</h1>

    <!-- Foto de perfil -->
    <div class="flex flex-col items-center justify-center gap-2">
      <img
        class="rounded-full"
        src="assets/images/perfil.png"
        alt="foto de perfil"
      />

      <button
        class="rounded-lg bg-gray-200 px-4 py-2 transition hover:scale-105 hover:bg-gray-300"
      >
        Mudar foto
      </button>
    </div>

    <!-- Campos de informações -->
    <!-- Campo de E-mail -->
    <div class="flex flex-col">
      <label class="mb-1 text-sm font-medium text-gray-700" for="email">
        E-mail
      </label>
      <input
        class="rounded-lg border border-gray-300 p-3 text-gray-900 shadow-sm focus:border-primary focus:ring-1 focus:ring-primary"
        id="email"
        type="email"
      />
    </div>
  </section>
</div>
