<app-header></app-header>

<main>
  <!-- Tabela -->
  <app-table [data]="stockItems">
    <!-- Cabeçalho -->
    <ng-template #customHeader>
      <tr class="!h-20 bg-primary text-white">
        <th class="!p-4 !text-center">Imagem</th>
        <th class="!p-4 !text-center">Nome</th>
        <th class="!p-4 !text-center">Descrição</th>
        <th class="!p-4 !text-center">Data de cadastro</th>
        <th class="!p-4 !text-center">Tipo</th>
      </tr>
    </ng-template>

    <!-- Corpo -->
    <ng-template #customBody let-item>
      <tr class="!h-20">
        <td class="!p-4 !text-center">
          <img
            class="mx-auto h-20 w-20"
            [src]="item.imagemUrl || 'assets/images/perfil.png'"
            alt="Imagem Produto"
          />
        </td>
        <td class="!p-4 !text-center">{{ item.lote }}</td>
        <td class="!p-4 !text-center">{{ item.id }}</td>
        <td class="!p-4 !text-center">{{ item.dataCadastro }}</td>
        <td class="!p-4 !text-center">{{ item.dataUltimaEdicao }}</td>
      </tr>
    </ng-template>
  </app-table>
</main>
