<app-header></app-header>

<main
  class="mx-auto mb-4 mt-8 flex min-h-screen w-full max-w-5xl flex-col items-center gap-4"
>
  <!-- Tabela -->
  <app-table [data]="releases">
    <!-- Cabeçalho -->
    <ng-template #customHeader>
      <tr class="!h-20 bg-primary text-white">
        <th class="!p-4 !text-center">Lote</th>
        <th class="!p-4 !text-center">Produto</th>
        <th class="!p-4 !text-center">Quantidade</th>
        <th class="!p-4 !text-center">Data da baixa</th>
      </tr>
    </ng-template>

    <!-- Corpo -->
    <ng-template #customBody let-item>
      <tr class="!h-20">
        <td class="!p-4 !text-center">{{ stockCache.get(item.id) }}</td>
        <td class="!p-4 !text-center">{{ productCache.get(item.id) }}</td>
        <td class="!p-4 !text-center">{{ item.quantidade }}</td>
        <td class="!p-4 !text-center">{{ item.data | date }}</td>
      </tr>
    </ng-template>
  </app-table>
</main>
